APP_BASE_URL=http://localhost:8088
FRONTEND_URL=http://localhost:8088
API_ADDRESS=:8080
DATABASE_URL=postgres://ravshann:ravshann@postgres:5432/ravshann?sslmode=disable
SESSION_COOKIE_NAME=ravshann_session
SESSION_TTL=720h

OWNER_TWITCH_LOGIN=rafchibiskus

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REDIRECT_URL=http://localhost:8088/api/auth/twitch/callback
YOUTUBE_API_KEY=
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

SHUTDOWN_GRACE_PERIOD=10s
